html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-custom {
    background-color: #ffffff;
}

.navbar-custom .nav-link {
color: #0a063e;
font-size: 1.25rem; /* tamaño equivalente a fs-5 */
}

.navbar-custom .nav-link:hover {
    color: #c0c0c0; /* color al pasar el mouse */
}
