@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus Sans", sans-serif;
}

body {
    background: linear-gradient(rgba(3, 49, 63, 0.8), rgba(0,0,0,0.8)), url("/images/fondo.jpg");
}

.container-elecciones {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    padding: 30px;
    margin: 28px auto; 
    border-radius: 12px;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    max-height: 65vh;
    overflow-y: auto;
    max-width: 1200px;
    width: 90%; 
}


    /* Scrollbar solo dentro del container */
.container-elecciones::-webkit-scrollbar {
    width: 8px;
}

.container-elecciones::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); /* color oscuro translúcido */
    border-radius: 6px;
}

.container-elecciones::-webkit-scrollbar-track {
    background: rgba(58, 179, 151, 0.4); /* tono del container */
    border-radius: 6px;
}

.container-elecciones h1 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.elecciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    justify-content: center;
}

.eleccion-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 300px; 
}

.eleccion-card:hover {
    background-color: #b4bec9;
    transform: translateY(-5px);
    cursor: pointer;
}

.eleccion-card h2 {
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
}

.eleccion-card p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
}

.container-fin {
    background-color: #fff;
    padding: 30px;
    margin-top: 28px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    max-height: 65vh; 
    overflow-y: auto;
}

.btnEntrar {
    background-color: #0b25b9;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    transition: background 0.3s ease;
    display: inline-block;
}

.btnEntrar i {
    margin-right: 5px;
}

.btnEntrar:hover {
    background-color: #3a4add;
}

.alerta-info {
    background-color: #f6f9fc;
    border: 1px solid #dddddd;
    color: #8393a5;
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 15px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}


/* Seccion Buscar */
.table_header {
    display: flex;
    justify-content: space-between; /* h1 a la izq, búsqueda a la der */
    align-items: center;
    padding: 5px 40px; /* agrega espacio a los bordes */
    margin-top: 10px;
    width: 100%;
}

.table_header h1 {
    margin-left: 40px;
    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.buscar {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    gap: 10px; /* separa input y botón */
}


button {
    background-color: #1850ed;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btnBuscar {
    background-color: #1850ed;
    color: #3AB397;
    border-radius: 6px;
}

input {
    padding: 5px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    color: #0b25b9;
    width: 400px;
}

::placeholder {
    color: #6396e4;
}